#include <windows.h>

/* This puts "Windows (R) Win 7 DDK provider" on everything. */
/* #include <ntverp.h> */ 

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Network Clone Locker Driver"
#define VER_INTERNALNAME_STR        "CloneLockerDriver.sys"

#include "..\respectech.ver"

